.table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.table table {
    border-collapse: collapse;
    width: 80%;
}

.table th, .table td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
    font-size: 14px; 
}

.table th {
    background-color: #3498db; 
    color: #fff; 
}


.table a {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #428bca; 
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.table a:hover {
    background-color: #3071a9; 
}